<mat-nav-list class="sidebar-nav-list">

  <ng-container *ngIf="isSuperAdmin">
    <a mat-list-item routerLink="/super-admin-dashboard" routerLinkActive="active-nav-item">
      <mat-icon matListItemIcon class="brand-text-primary">space_dashboard</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>
    <a mat-list-item routerLink="/system-administration/orgs" routerLinkActive="active-nav-item">
      <mat-icon matListItemIcon class="brand-text-primary">corporate_fare</mat-icon>
      <span matListItemTitle>Org</span>
    </a>
    <a mat-list-item routerLink="/system-administration/users" routerLinkActive="active-nav-item">
      <mat-icon matListItemIcon class="brand-text-primary">manage_accounts</mat-icon>
      <span matListItemTitle>User</span>
    </a>
    <a mat-list-item routerLink="/advertisement-management" routerLinkActive="active-nav-item">
      <mat-icon matListItemIcon class="brand-text-primary">campaign</mat-icon>
      <span matListItemTitle>Ads</span>
    </a>
  </ng-container>

  <ng-container *ngIf="isAdmin">
    <a mat-list-item routerLink="/admin-dashboard" routerLinkActive="active-nav-item">
      <mat-icon matListItemIcon class="brand-text-primary">dashboard</mat-icon>
      <span matListItemTitle>Admin Dashboard</span>
    </a>
  </ng-container>

  <ng-container *ngIf="isStandardUser">
    <a mat-list-item routerLink="/dashboard" routerLinkActive="active-nav-item">
      <mat-icon matListItemIcon class="brand-text-primary">dashboard</mat-icon>
      <span matListItemTitle>Dashboard</span>
    </a>
  </ng-container>

  <hr class="sidebar-divider" *ngIf="isSuperAdmin" />

  <a mat-list-item routerLink="/profile" routerLinkActive="active-nav-item">
    <mat-icon matListItemIcon class="brand-text-primary">person</mat-icon>
    <span matListItemTitle>Profile Settings</span>
  </a>

</mat-nav-list>
